:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.app{
  border: #f3eceae2 solid;
  border-radius: 18px;
  width: 45vw;
  
}

.header{
  border-bottom: #f3eceae2 solid;
  /* border-radius: 18px; */

}

.project-form{
  border: #f3eceae2 solid;
  margin: 25px;
  border-radius: 18px;

}

.project-list{
  border: #f3eceae2 solid;
  margin: 25px;
  border-radius: 18px;
}

.searchbar{
  border-bottom: #f3eceae2 solid;
  /* border-radius: 8px; */
}

.searchbar input{
  width: 30vw;
  height: 1.5vw;
  margin: 10px;

}

.project-form input{
  width: 30vw;
  height: 1.5vw;
  margin: 10px;
}

.project-form {
  text-align: left;

}

/* .project-form h2{
  text-align: center;

} */

.project-form label{
  margin: 15px;
}

.project-form button{
  margin: 15px;
}

.project-form textarea{
  width: 30vw;
  height: 5vw;
  margin: 10px;
}